<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    <%= f.text_area :content, class: "form-control", placeholder: "Content" %>
  </div>
  <% if project.versions.length > 0 %>
  <div class="form-group">
  <%= f.collection_radio_buttons(:current_version_id, project.versions, :id, :main_image) do |b|
    b.label { b.radio_button + image_tag(b.object.main_image.image_src, class: "col-md-4") }
  end %>
  </div
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
