<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <% if version.images.length > 0 %>
    <div class="field">
    <%= f.collection_radio_buttons(:current_version_id, project.versions, :id, :title) do |b|
      b.label { b.radio_button + b.object.title}
    end %>
    </div

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
