<h1>
  <%= @project.title %>
</h1>
<p><small><%= @project.user.username %></small></p>
<p>
  <%= @project.content %>
</p>
<h2>Versions</h2>
<div class="rows">
  <div class="row">
    <% @project.versions.each do |version| %>
      <div class="card card-inverse col-md-4">    
        <%= link_to (image_tag Image.find_by_id(version.main_image_id).image_src.detail.url, class: "card-img"), project_version_path(@project, version) %>
        <div class="card-img-overlay">
          <h4 class="card-title"><%= link_to version.title, project_version_path(@project, version) %></h4>
          <% if @project.user_id == current_user.id %>
          <p class="card-text"><small class="text-muted"><%= link_to 'Edit', edit_project_version_path(@project, version) %></small></p>
          <p class="card-text"><small class="text-muted"><%= link_to 'Delete', project_version_path(@project, version), method: :delete, data: { confirm: 'Are you sure?' } %></small></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
